{% load staticfiles %}

<h2>ABOUT</h2>
<br />
<br />
<h3>About Me</h3>
<p>
    This page is simply a test page to complete a task.
    <br />
    A new line was entered to test if line breaks work 
    <br />
    in a p-tag.
</p>

<body>
    Start Back at One by Brian McKnight
    <ol>
        <li>You're like a dream come true</li>
        <li>Just wanna be with you</li>
        <li>Girl it's plain to see that you're the only one for me</li>
        <li>Repeat steps one through three</li>
        <li>Make you fall in love with me</li>
    </ol>
</body>

<a href="{% url 'home' %}">Return Home</a>